In [1]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.2.0-cp37-cp37m-manylinux2014_x86_64.whl (489 kB)
     |████████████████████████████████| 489 kB 6.9 MB/s eta 0:00:01
Installing collected packages: pymongo
Successfully installed pymongo-4.2.0

In [ ]:
# Linux
# service mongod status
# service mongod start
# service mongod status

In [3]:
from pymongo import MongoClient

client = MongoClient(host='localhost', port=27017)

print(client.list_database_names())

['admin', 'config', 'local', 'sensor']

In [17]:
import urllib

MONGO_HOST = "localhost"
MONGO_PORT = "27017"
MONGO_DB = "sensor"
MONGO_USER = "eddi"
MONGO_PASS = urllib.parse.quote_plus("eddi@123")

uri = "mongodb://{}:{}@{}:{}/{}?authSource=admin".format(MONGO_USER, MONGO_PASS, MONGO_HOST, MONGO_PORT, MONGO_DB)
client = MongoClient(uri)

print(client)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin')

In [40]:
client = MongoClient(host='localhost', port=27017)

db = client["test-db"]
mycol = db["customers"]

mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

print(client.list_database_names())
print(db.list_collection_names())

['admin', 'config', 'local', 'sensor', 'test-db']
['customers']

In [41]:
mydict = { "name": "Peter", "address": "Lowstreet 27" }

x = mycol.insert_one(mydict)

print(x.inserted_id)

6322922257071ce3ba4c0c57

In [42]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('6322925057071ce3ba4c0c58'), ObjectId('6322925057071ce3ba4c0c59'), ObjectId('6322925057071ce3ba4c0c5a'), ObjectId('6322925057071ce3ba4c0c5b'), ObjectId('6322925057071ce3ba4c0c5c'), ObjectId('6322925057071ce3ba4c0c5d'), ObjectId('6322925057071ce3ba4c0c5e'), ObjectId('6322925057071ce3ba4c0c5f'), ObjectId('6322925057071ce3ba4c0c60'), ObjectId('6322925057071ce3ba4c0c61'), ObjectId('6322925057071ce3ba4c0c62'), ObjectId('6322925057071ce3ba4c0c63')]

In [43]:
otherlist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(otherlist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [44]:
x = mycol.find_one()

print(x)

{'_id': ObjectId('6322907457071ce3ba4c0c50'), 'name': 'John', 'address': 'Highway 37'}

In [45]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('6322907457071ce3ba4c0c50'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6322908257071ce3ba4c0c52'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('632290a957071ce3ba4c0c56'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6322922257071ce3ba4c0c57'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6322925057071ce3ba4c0c58'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6322925057071ce3ba4c0c59'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6322925057071ce3ba4c0c5a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6322925057071ce3ba4c0c5b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6322925057071ce3ba4c0c5c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6322925057071ce3ba4c0c5d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6322925057071ce3ba4c0c5e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6322925057071ce3ba4c0c5f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6322925057071ce3ba4c0c60'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6322925057071ce3ba4c0c61'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6322925057071ce3ba4c0c62'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6322925057071ce3ba4c0c63'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [46]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [47]:
for x in mycol.find({},{ "address": 0 }):
  print(x)

{'_id': ObjectId('6322907457071ce3ba4c0c50'), 'name': 'John'}
{'_id': ObjectId('6322908257071ce3ba4c0c52'), 'name': 'John'}
{'_id': ObjectId('632290a957071ce3ba4c0c56'), 'name': 'John'}
{'_id': ObjectId('6322922257071ce3ba4c0c57'), 'name': 'Peter'}
{'_id': ObjectId('6322925057071ce3ba4c0c58'), 'name': 'Amy'}
{'_id': ObjectId('6322925057071ce3ba4c0c59'), 'name': 'Hannah'}
{'_id': ObjectId('6322925057071ce3ba4c0c5a'), 'name': 'Michael'}
{'_id': ObjectId('6322925057071ce3ba4c0c5b'), 'name': 'Sandy'}
{'_id': ObjectId('6322925057071ce3ba4c0c5c'), 'name': 'Betty'}
{'_id': ObjectId('6322925057071ce3ba4c0c5d'), 'name': 'Richard'}
{'_id': ObjectId('6322925057071ce3ba4c0c5e'), 'name': 'Susan'}
{'_id': ObjectId('6322925057071ce3ba4c0c5f'), 'name': 'Vicky'}
{'_id': ObjectId('6322925057071ce3ba4c0c60'), 'name': 'Ben'}
{'_id': ObjectId('6322925057071ce3ba4c0c61'), 'name': 'William'}
{'_id': ObjectId('6322925057071ce3ba4c0c62'), 'name': 'Chuck'}
{'_id': ObjectId('6322925057071ce3ba4c0c63'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

In [48]:
mydoc = mycol.find().sort("name")

for x in mydoc:
  print(x)

{'_id': ObjectId('6322925057071ce3ba4c0c58'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6322925057071ce3ba4c0c60'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6322925057071ce3ba4c0c5c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6322925057071ce3ba4c0c62'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6322925057071ce3ba4c0c59'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6322907457071ce3ba4c0c50'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6322908257071ce3ba4c0c52'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('632290a957071ce3ba4c0c56'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6322925057071ce3ba4c0c5a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6322922257071ce3ba4c0c57'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6322925057071ce3ba4c0c5d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6322925057071ce3ba4c0c5b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6322925057071ce3ba4c0c5e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6322925057071ce3ba4c0c5f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6322925057071ce3ba4c0c63'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6322925057071ce3ba4c0c61'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

In [49]:
mydoc = mycol.find().sort("name", -1)

for x in mydoc:
  print(x)

{'_id': ObjectId('6322925057071ce3ba4c0c61'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6322925057071ce3ba4c0c63'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6322925057071ce3ba4c0c5f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6322925057071ce3ba4c0c5e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6322925057071ce3ba4c0c5b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6322925057071ce3ba4c0c5d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6322922257071ce3ba4c0c57'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6322925057071ce3ba4c0c5a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6322907457071ce3ba4c0c50'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6322908257071ce3ba4c0c52'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('632290a957071ce3ba4c0c56'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6322925057071ce3ba4c0c59'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6322925057071ce3ba4c0c62'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6322925057071ce3ba4c0c5c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6322925057071ce3ba4c0c60'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6322925057071ce3ba4c0c58'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

In [50]:
myquery = { "address": "Mountain 21" }

mycol.delete_one(myquery)

for x in mycol.find():
  print(x)

{'_id': ObjectId('6322907457071ce3ba4c0c50'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6322908257071ce3ba4c0c52'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('632290a957071ce3ba4c0c56'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6322922257071ce3ba4c0c57'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6322925057071ce3ba4c0c58'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6322925057071ce3ba4c0c5a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6322925057071ce3ba4c0c5b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6322925057071ce3ba4c0c5c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6322925057071ce3ba4c0c5d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6322925057071ce3ba4c0c5e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6322925057071ce3ba4c0c5f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6322925057071ce3ba4c0c60'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6322925057071ce3ba4c0c61'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6322925057071ce3ba4c0c62'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6322925057071ce3ba4c0c63'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [51]:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
  print(x)

{'_id': ObjectId('6322907457071ce3ba4c0c50'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6322908257071ce3ba4c0c52'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('632290a957071ce3ba4c0c56'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6322922257071ce3ba4c0c57'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6322925057071ce3ba4c0c58'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6322925057071ce3ba4c0c5a'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('6322925057071ce3ba4c0c5b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6322925057071ce3ba4c0c5c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6322925057071ce3ba4c0c5d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6322925057071ce3ba4c0c5e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6322925057071ce3ba4c0c5f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6322925057071ce3ba4c0c60'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6322925057071ce3ba4c0c61'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6322925057071ce3ba4c0c62'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6322925057071ce3ba4c0c63'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}